@import "fonts";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: 29 78 216; /* blue-700 */
    --color-secondary: 219 234 254; /* blue-100 */
    --color-body: 241 245 249; /* slate-100 */
    --color-header: 17 24 39; /* gray-900 */
    --color-text: 100 116 139; /* slate-500 */
    --color-text-muted: 191 219 254; /* blue-200 */
    --color-heading: 2 6 23; /* slate-900 */
    --color-heading-hover: 51 65 85; /* slate-700 */
    --color-heading-inverted: 255 255 255; /* white */
    --color-heading-inverted-hover: 203 213 225; /* slate-300 */
    --color-menu-button-bg: 31 41 55; /* gray-800 */
    --color-menu-button-bg-hover: 55 65 81; /* gray-700 */
  }

  .theme-juergenschadek {
    --color-primary: 0 209 219; /* #00D1DB */
    --color-secondary: 101 117 118; /* #657576 */
  }
}
